/* app/globals.css */
@import "tailwindcss";
@tailwind utilities;

@theme {
  /* Colors */
  --color-primary: #ffd500;

  /* Font Families */
  --font-family-square-peg: "squarepeg", cursive, sans-serif;
  --font-family-helvetica-neue: "helveticaneue", Arial, sans-serif;
}

@layer base {
  /* Square Peg Font */
  @font-face {
    font-family: "squarepeg";
    src: url("/fonts/squarePeg/SquarePeg-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  /* Helvetica Neue Font Faces */
  @font-face {
    font-family: "helveticaneue";
    src: url("/fonts/helveticaNeue/HelveticaNeueLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "helveticaneue";
    src: url("/fonts/helveticaNeue/HelveticaNeueLightItalic.woff")
      format("woff");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "helveticaneue";
    src: url("/fonts/helveticaNeue/HelveticaNeueRoman.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "helveticaneue";
    src: url("/fonts/helveticaNeue/HelveticaNeueMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "helveticaneue";
    src: url("/fonts/helveticaNeue/HelveticaNeueMediumItalic.woff")
      format("woff");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: "helveticaneue";
    src: url("/fonts/helveticaNeue/HelveticaNeueBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "helveticaneue";
    src: url("/fonts/helveticaNeue/HelveticaNeueBoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: "helveticaneue";
    src: url("/fonts/helveticaNeue/HelveticaNeueBlack.woff") format("woff");
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: "helveticaneue";
    src: url("/fonts/helveticaNeue/HelveticaNeueBlackItalic.woff")
      format("woff");
    font-weight: 900;
    font-style: italic;
  }

  /* Base Styles */
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  * {
    -webkit-tap-highlight-color: rgba(255, 213, 0, 0.546);
  }

  body {
    font-family: var(--font-family-helvetica-neue);
    font-weight: 400;
  }
}

/* Optional: Create utility classes for easier usage */
@layer utilities {
  .text-primary {
    color: var(--color-primary);
  }
  /* .bg-primary {
    background-color: var(--color-primary);
  } */
  .font-square-peg {
    font-family: var(--font-family-square-peg);
  }
}
